<div id="offer-sort" class="">
  <div class="row">

  	<!-- SORT LINKS -->
	  <div class="col-xs-9 col-sm-5 col-md-5">
	  		Offer
	  </div>

	  <div class="col-xs-4 col-sm-2 col-md-3 hidden-xs">
	  		Followers
	  </div>

	  <div class="col-xs-3 col-sm-2 col-md-2 hidden-xs">
	  		Rating
	  </div>

	  <div class="col-sm-3 col-md-2 hidden-xs">
	  		Location
	  </div>

	  <div class="col-xs-3 visible-xs">
	  	Followers / Rating
	  </div>

  </div>
</div>