<form class="discover-form" role="form">
  <div class="col-sm-4 mbs">
    <input type="text" class="form-control" placeholder="Search for offer..." />
  </div>
  <div class="col-sm-3 mbs">
    <input type="text" class="form-control" placeholder="Location" />
  </div>
  <div class="col-sm-3 mbs">
    <select class="form-control">
      <option>--Category--</option>
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Barbecue</option>
    </select>
  </div>
  <div class="col-sm-2 mbs">
    <button class="btn btn-default scale">Search</button>
  </div>
</form>