<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<aside class="finder">
			<div class="search mtl mbm">
				<form action="search" method="post">
					<input type="text" name="search" class="form-control" placeholder="Search..." autofocus />
				</form>

				<div class="sort">
					<span>Sort: </span>
					<a href="#">Travel</a>
					<a href="#">Entertainment</a>
					<a href="#">Fitness</a>
				</div>
			</div>

      <div class="group mbl">
        <img class="media-object img-circle thumb-sm" src="http://api.randomuser.me/0.3.2/portraits/men/28.jpg" alt="...">
        <img class="media-object img-circle thumb-sm" src="http://api.randomuser.me/0.3.2/portraits/women/13.jpg" alt="...">
        <img class="media-object img-circle thumb-sm" src="http://api.randomuser.me/0.3.2/portraits/men/43.jpg" alt="...">
        <img class="media-object img-circle thumb-sm" src="http://api.randomuser.me/0.3.2/portraits/women/9.jpg" alt="...">
        <a class="btn btn-default btn-circle">&middot;&middot;&middot;</a>

        <span class="badge badge-primary pull-right">Instagram</span>
      </div><!-- /. GROUP -->


			<div class="media">
			  <a class="thumb-sm pull-left" href="#">
			    <img class="media-object img-circle " src="http://api.randomuser.me/0.3.2/portraits/men/35.jpg" alt="..." />
			  </a>
			  <div class="media-body">
			    <h4 class="username black bold"><a href="#">Mario Banks</a></h4>
			    <p class="text black">There are a few easy ways to quickly get started with Bootstrap... There are a few easy ways to quickly get started with Bootstrap...</p>
			  </div>
			</div><!-- /. MEDIA -->

		</aside>
	</div><!-- RIGHT -->
</div>